/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$black: #161616;
$grey: #747474;


html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: $black;
	color: $grey;
	font-size: 12px;
	height: 100%;
	padding-right: 10px;
}

header {
	display: flex;
	img {
		z-index: 1;
	}
	div {
		background: url(/assets/pokedex-header-nav.png);
		width: 100%;
		height: 46px;
		margin-right: -10px;
	}
}
#root {

height: calc(100vh - 115px);
}

ul.dex-list {
	width: 350px;
	list-style: none;
	overflow: scroll;
	padding: 20px 10px 0 0;
}

::-webkit-scrollbar {
    display: none;
}

section.poke-dex{
	display: flex;
	height: 100%;
	justify-content: space-between;
}

li.dex-entry {
	border-bottom: 1px solid $grey;
	font-size: 16px;
	cursor:pointer;
	padding: 5px 10px;
}

li.dex-entry:hover {
	color: white;
	border-bottom: 1px solid white;
}
li.dex-entry:hover img {
	filter: contrast(150%) brightness(150%);
}

li.dex-entry img {
	height: 20px;
	margin: 0 10px;
};

.dex-entry > span {
  height: 100%;

}

ul.poke-items {
	display: flex;
	justify-content: space-around;
}

section.pokemon-detail{
	background-color: #d1ccb6;
	height: 100%;
	text-align: center;
	overflow-y: scroll
	// border: 40px solid $black;
	// outline: 10px solid #d43316;

}

.index-child-wrap img {
	width: 100%;
	height: auto;
	margin: 10px;
}

section.index-child-wrap{
	width: calc(100vw - 320px);
	background-color: $black;
	padding: 40px;
	border: 10px solid #d43316;
}
section.form-container {
	height: 100%;
	background-color: #d1ccb6;
	overflow: scroll;
	padding: 0 20%;
}

.form-container form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form-container form select,
.form-container form input {
	display: block;
	background: none;
	margin: 20px 5px;
  // width: 100%;
	-webkit-appearance: none;
	border: none;
	border-bottom: 1px solid $black;

	font-size: 16px;
	outline-width: 0;

}



.form-container form button{
	background-color: #d43316;
	-webkit-appearance: none;
	color: white;
}

.form-container form select{
	cursor: pointer;
}
